body {
    background-color:black;
}

#main {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #F6F792;
    margin: 2rem;
    border-radius: 30px;
    border: 1px white solid;
}

#title {
    font-family: 'Carter One',Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    border-bottom: 1px black solid;
    /* font-family: 'Courier New', Courier, monospace; */
}

img {
    max-width: 100%; 
    display: block;
    height: auto;
    border-radius: 30px;
}

#img-div {  
    align-content: center;
    background-color: black;
    border:1px black solid;
    border-radius: 30px;
    margin:10px;
    
}

#img-caption {
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-top : 1px solid white;
}


#tribute-info {
    padding:8px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-family: 'Quicksand',Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

#content {
    margin: 10px;
    padding: 10px;
    border: 0.1rem solid black;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#read-more {
  margin: 10px;
}

a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    color: red;
}

@media (max-width:480px) {
    #title {
        font-size: 2rem;
    }
    #img-caption {
        font-size: 0.7rem;
    }
    main {
        font-size : 0.9rem;
    }

}


@media (max-width:720px) {
    #content {
        width: 80%;
    }
}