ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* combination of flex-direction:row;flex-wrap:wrap */
    flex-flow: row wrap;
    justify-content: space-around;
}

li {
    border: 2px solid blue;
    /* 10% of the parent container */
    /* boxes of same height */
    flex-basis: 10%;

}